// Channel list
.da-channels {
    transition: transform 0.2s ease, opacity 0.2s ease;

    transform: translateX(-3px) perspective(20em) rotateY(2deg) scale(0.95);
    opacity: 0.5;

    // Main panel
    + div {
        transition: margin-left 0.2s ease;
        z-index: 1;

        margin-left: -210px;

        // Main panel header and contents
        &:not(.da-chat) > :not(.da-scrollerWrap),
        &:not(.da-chat) > .da-scrollerWrap > .da-scroller,
        &.da-chat > .da-titleWrapper > div,
        &.da-chat > .da-content [class*="messages-"],
        &.da-chat > .da-content > .da-flex > form,
        &.da-chat > .da-content > .da-flex > form > .da-typing {
            transition: padding-left 0.2s ease, padding-right 0.2s ease, margin-left 0.2s ease;
            padding-left: 100px;
            padding-right: 100px;
        }

        &.da-chat > .da-content > .da-flex > form > .da-typing {
            box-sizing: border-box;
        }

        &.da-chat > .da-content > .da-flex .da-newMessagesBar,
        &.da-chat > .da-content > .da-flex .da-jumpToPresentBar {
            transition: margin-left 0.2s ease, margin-right 0.2s ease;
            margin-left: 100px;
            margin-right: 100px;
        }

        // Main panel contents shadow - this is shown when the channel list is showing and some of the main panel contents is hidden
        &:not(.da-chat) > .da-scrollerWrap::after,
        &.da-chat > .da-content::after {
            content: "";
            position: relative;
            float: right;
            width: 5px;
            height: 100vh;
            margin-right: 0px;
            margin-left: -5px;
            z-index: 2;
            background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06));
            .theme-light & {
                background-image: linear-gradient(to left, #e3e5e8, hsla(200, 9%, 93%, 0.25));
            }
            opacity: 0;
            transition: opacity 0.2s ease;
        }
        // Move the shadow over a bit for the members list
        &.da-chat > .da-content::after {
            margin-left: -35px;
            margin-right: 30px;
        }
    }

    // Channel list when hovered over
    &:hover {
        transform: translateX(0px) perspective(0em) rotateY(0deg) scale(1);
        opacity: 1;

        // Main panel when the channel list is being hovered over
        + div {
            margin-left: 0px;

            // Main panel header
            &:not(.da-chat) > :not(.da-scrollerWrap),
            &:not(.da-chat) > .da-scrollerWrap > .da-scroller,
            &.da-chat > .da-titleWrapper > div {
                padding-left: 20px;
            }

            // Main panel contents
            &:not(.da-chat) > :nth-child(2):not(.da-scrollerWrap),
            &:not(.da-chat) > :nth-child(2).da-scrollerWrap > .da-scroller,
            &.da-chat > .da-content [class*="messages-"],
            &.da-chat > .da-content > .da-flex > form,
            &.da-chat > .da-content > .da-flex > form > .da-typing {
                margin-right: -70px;
                padding-left: 0;
                padding-right: 0;
            }

            &.da-chat > .da-content > .da-flex .da-newMessagesBar,
            &.da-chat > .da-content > .da-flex .da-jumpToPresentBar {
                margin-left: 0;
                margin-right: -70px;
            }

            // Main panel contents shadow
            &:not(.da-chat) > .da-scrollerWrap::after,
            &.da-chat > .da-content::after {
                opacity: 1;
            }
        }
    }
}

// Hide the toggle members list button, but only if the members list is visible
svg.da-iconActive[name="People"] {
    display: none;
}
svg.da-iconInactive[name="People"] {

}

// Chat contents (messages and text area) when the members list is not being hovered over
.da-chat > .da-content > .da-flex:not(:only-child) {
    transition: margin-right 0.2s ease, border-right 0.2s ease;
    z-index: 1;

    margin-right: -210px;

    background-color: #36393e;
    .theme-light & {
        background-color: #ffffff;
    }

    // Chat contents shadow
    &::before {
        content: "";
        position: absolute;
        float: left;
        width: 5px;
        height: 100%;
        margin-left: 0px;
        z-index: 2;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06));
        .theme-light & {
            background-image: linear-gradient(to right, #e3e5e8, hsla(200, 9%, 93%, 0.25));
        }
        opacity: 0;
        transition: opacity 0.2s ease;
    }
}

// Chat contents when the members list is being hovered over
.da-chat .da-content:hover > .da-flex:not(:only-child):not(:hover) {
    margin-right: 0px;

    [class*="messages-"],
    > form,
    > form > .da-typing {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: -70px;
    }

    .da-newMessagesBar,
    .da-jumpToPresentBar {
        margin-left: -70px;
        margin-right: 0px;
    }

    // Chat contents shadow
    &::before {
        opacity: 1;
    }
}

// Members list
.da-membersWrap {
    transition: transform 0.2s ease, opacity 0.2s ease;
    z-index: 0;

    transform: translateX(3px) perspective(20em) rotateY(-2deg) scale(0.95);
    opacity: 0.5;

    // ... when it is being hovered over
    .da-chat .da-content:hover > .da-flex:not(:only-child):not(:hover) + & {
        transform: translateX(0px) perspective(0em) rotateY(0deg) scale(1);
        opacity: 1;
    }
}
